@charset 'utf-8';


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
$inter:'Inter', sans-serif;
$noto:'Noto Sans KR', sans-serif;
$black:#000;
$grey:#999;
$basic:#eee;
$easing:cubic-bezier(0.215, 0.61, 0.355, 1);

@mixin conSize($wd:null, $hg:null){width:$wd; height:$hg;}
@mixin font($sz:null, $wg:null, $ff:null, $co:null){font-size:$sz; font-weight:$wg; font-family:$ff; color:$co}
@mixin dis-flex($ai:null, $jc:null, $fl:null, $gap:null){display:flex; align-items:$ai; justify-content:$jc; flex-flow:$fl; gap:$gap;}
@mixin dis-grid($num1:null, $num:null){display:grid; grid-template-columns:repeat($num1, $num2 + #{fr})}
@mixin pt_abs($pt:null, $top:null, $rg:null, $bt:null, $lf:null, $zd:null){position:$pt; top:$top; right:$rg; bottom:$bt; left:$lf; z-index:$zd;}
@mixin expl_comm(){line-height:1.66; @include font(clamp(0.95rem, 1.01vw, 1.5vw), 400, $noto, $black);}

body{margin:0; padding:0; overflow-x:hidden; @include font(14px, null, $inter, null); background:#eee; border:1px solid #000;}
*{margin:0; padding:0; box-sizing:border-box;}
ul, ol{list-style:none;}
a{text-decoration:none; color:$black;}

.s_comm{@include font(18px, 500, null, $grey);}
.m_comm{@include font(40px, 600, $noto, $black);}
.b_comm{line-height:0.9; @include font(clamp(5rem, 7.5vw, 8vw), 600, null, $black); text-transform:uppercase;}

.span_comm{display:block; position:relative;}
.virtual{content:""; position:absolute;}

.sc01_line01{@include conSize(50px, null);}
.sc01_line02{@include conSize(100px, null);}

.border-box{@include conSize(100%, 100%); @include pt_abs(absolute, null, null, null, null, null); border:50px solid $black; border-right:0;}
.semicircle{@include conSize(50%, 100%); @include pt_abs(absolute, 0, 0, null, null, null); border-top-left-radius:1000px; border-bottom-left-radius:1000px; mix-blend-mode:difference; background:#eee;}

/*** 헤더 시작 ***/
.at-header{@include conSize(100%, null); @include pt_abs(fixed, -100%, null, null, 0, 99); transition:all .3s $easing;
    .header-inner{@include conSize(null, 100px); line-height:100px; @include dis-flex(center, space-between, null, null); position:relative; padding:0 21px;
        .logo{
            a{@include dis-flex(center, null, null, null);
                img{width:auto; height:28px;}
            }
        }
        .menu_ul{line-height:1; @include dis-flex(center, null, null, 53px); @include pt_abs(absolute, null, null, null, 50%, null); transform:translateX(-50%);
            li{
                a{@include font(20px, 400, null, $black);}
            }
        }
        .right_lnb{@include dis-flex(center, null, null, 30px);
            .search_btn{@include conSize(29px, 29px); cursor:pointer;
                span{@include conSize(100%, 100%); @extend .span_comm;
                    &::before, &::after{@extend .virtual;}
                    &::before{@include conSize(20px, 20px); border:3px solid $black; border-radius:50%;}
                    &::after{@include conSize(12px, 3px); right:-2px; bottom:3px; transform:rotate(45deg); background:$black;}
                }
            }
            .allMenu_btn{@include conSize(30px, auto); @include dis-flex(null, null, column, 7px); cursor:pointer;
                span{@include conSize(100%, 3px); @extend .span_comm; background:$black;
                    &:nth-child(2){width:calc(100% - 10px); margin:0 auto; margin-right:0;}
                }
            }
        }
    }
}
/*** 헤더 끝 ***/

/*** 섹션01 시작 ***/
.section01{border-bottom:1px solid $black;
    &-inner{
        .top{
            .line_bx{@include conSize(null, 78px); line-height:78px; @include dis-flex(center, space-between, null, null); border-bottom:1px solid $black;
                & > div{@include dis-flex(null, null, null, null);
                    span{@include conSize(null, 15px); @extend .span_comm; background:$black;
                        &:first-child, &:last-child{@extend .sc01_line01;}
                        &:not(.sml){@extend .sc01_line02;}
                    }
                    &:first-child, &:last-child{column-gap:236px;}
                }
            }
            .b_tit{@include dis-flex(center, space-between, null, null); padding:10px 15px 10px 0; border-bottom:1px solid $black;
                .txt{
                    h1{@include dis-flex(null, null, null, null); letter-spacing:-2px;
                        span{@extend .span_comm; @include font(null, null, $inter, null);}
                        .margin{margin:20px;}
                    }
                }
                .circle{@include conSize(34.54%, clamp(9rem, 14.55vw, 15.5vw)); background:$black; border-radius:140px;}
            }
        }
        .bot{@include dis-flex(null, null, null, null); padding:20px; column-gap:20px;
            &-left{flex:0.6; @include dis-flex(null, null, null, null);
                .s_txt{@include expl_comm(); writing-mode:vertical-lr; text-orientation:sideways-right;
                    p{
                        &:first-child{line-height:1;}
                        &:last-child{line-height:36px}
                    }
                }
                .r_txt{@include conSize(100%, null);
                    .img-box{
                        img{@include conSize(100%, null); filter:grayscale(1);}
                        .deco{@include conSize(100%, 60px); margin:20px 0 0 0; background:$black;}
                    }
                    .txt-box{margin:20px 0 0 0;
                        h1{@include expl_comm();}
                    }
                }
            }
            &-right{flex:0.4; @include dis-flex(null, null, column, 25px);
                div{@include dis-flex(center, null, null, null); position:relative;
                    p{position:relative; z-index:10; padding:10px; @include font(clamp(1.5rem, 2.16vw, 2.5vw), 500, null, null); background:$basic; border:1px solid $black; border-right:0; border-bottom:0;}
                    .line_dash{ @include pt_abs(absolute, null, 0, null, null, null); border-bottom:1px dashed $black;}
                }
            }
        }
    }
}
/*** 섹션01 끝 ***/

/*** 섹션02 시작 ***/
.section02{
    &-inner{
        .top{@include dis-flex(null, space-between, null, 160px); padding:40px 0 40px; background:url('./img/line_deco.png') right top no-repeat; background-size:840px;
            &-left{@include conSize(65.705%, null); @include dis-flex(null, null, null, 80px);
                .deco{@include conSize(60px, 935px); margin:8px 0 0 0; background:$black;}
                .con-box{@include conSize(100%, null);
                    & > h1{margin:0 0 50px -9px;}
                    .txt{
                        span{margin:0 0 0 3px;}
                        p{@include expl_comm(); margin:25px 0 41px;}
                        img{@include conSize(100%, null); filter:grayscale(1)}
                    }
                }
            }
            &-right{@include conSize(34.295%, null); @include dis-flex(flex-end, null, null, null);
                .deco{@include conSize(100%, 60px); background:$black;}
            }
        }
        .bot{@include dis-flex(null, space-between, null, null); padding:110px 0 80px; background:url('./img/line_deco2.png') right top no-repeat; background-size:848px;
            &-left{@include conSize(calc(100% - 145px), null);
                .con-box{
                    .txt{@include dis-flex(null, space-between, null, null);
                        .deco{@include conSize(475px, 60px); background:$black;}
                        div{text-align:right;
                            span{margin:0 3px 0 0;}
                            p{@include expl_comm(); margin:25px 0 41px;}
                        }
                    }
                    .img-box{width:62.279%; margin:0 0 0 7.535vw;
                        img{@include conSize(100%, null); filter:grayscale(1);}
                    }
                }
            }
            &-right{@include conSize(60px, 700px); background:$black;}
        }
    }
}
/*** 섹션02 끝 ***/

/*** 섹션03 시작 ***/
.section03{
    &-inner{
        .top{@include dis-flex(null, null, null, null); border-top:1px solid $black; border-bottom:1px solid $black;
            &-left{flex:1; @include dis-flex(flex-end, null, null, null); position:relative;
                .border-box{@extend .border-box;} 
                .semicircle{@extend .semicircle;}
                h1{@include conSize(100%, null); position:relative; z-index:99; margin:0 0 -15px 50px; font-size:clamp(9rem, 9.69vw, 10vw); color:#eee; mix-blend-mode:difference;
                    p{@include dis-flex(null, null, null, null);
                        &:last-child{justify-content:flex-end; margin-right:-18%;}
                    }
                }
            }
            &-right{flex:1; 
                .con-box{
                    .con{@include dis-flex(null, null, null, null); 
                        .txt{flex:1; @include dis-flex(center, space-between, column, null);
                            h1{line-height:1; @include conSize(100%, null); padding:20px; text-align:center}
                            p{@include expl_comm(); padding:20px;}
                        }
                        .img-box{flex:1;
                            img{@include conSize(100%, 100%); filter:grayscale(1);}
                        }
                    }
                    .con02{
                        .txt{order:2;}
                    }
                }
            }
        }
        .bot{@include dis-flex(null, null, null, null);
            &-left{flex:1;
                .img-box{
                    img{@include conSize(100%, null); filter:grayscale(1)}
                }
                .con-box{
                    .txt{
                        h1{@include conSize(100%, null); line-height:1; padding:20px; text-align:center;}
                        .line{@include conSize(1px, 120px); margin:0 auto; background:$black;}
                        p{@include expl_comm(); padding:20px;}
                    }
                }
            }
            &-right{flex:1; position:relative;
                .border-box{@extend .border-box; border-left:0; border-right:50px solid $black;}
                .semicircle{@extend .semicircle; right:auto; left:0; border-top-right-radius:1000px; border-bottom-right-radius:1000px; border-top-left-radius:0; border-bottom-left-radius:0;}
                ul{@include conSize(null, 100%); @include dis-flex(center, center, column, null);
                    li{
                        a{line-height:90px; @include font(60px, 600, null, #fff); mix-blend-mode:difference;}
                    }
                }
            }
        }
    }
}
/*** 섹션03 끝 ***/