@charset 'utf-8';


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
$inter:'Inter', sans-serif;
$black:#000;
$grey:#999;
$easing:cubic-bezier(0.215, 0.61, 0.355, 1);

@mixin conSize($wd:null, $hg:null){width:$wd; height:$hg;}
@mixin font($sz:null, $wg:null, $ff:null, $co:null){font-size:$sz; font-weight:$wg; font-family:$ff; color:$co}
@mixin dis-flex($ai:null, $jc:null, $fl:null, $gap:null){display:flex; align-items:$ai; justify-content:$jc; flex-flow:$fl; gap:$gap;}
@mixin dis-grid($num1:null, $num:null){display:grid; grid-template-columns:repeat($num1, $num2 + #{fr})}
@mixin pt_abs($pt:null, $top:null, $rg:null, $bt:null, $lf:null, $zd:null){position:$pt; top:$top; right:$rg; bottom:$bt; left:$lf; z-index:$zd;}

body{margin:0; padding:0; @include font(14px, null, $inter, null); background:#eee; border:1px solid #000;}
*{margin:0; padding:0; box-sizing:border-box;}
ul, ol{list-style:none;}
a{text-decoration:none; color:$black;}

.span_comm{display:block; position:relative;}
.virtual{content:""; position:absolute;}

.sc01_line01{@include conSize(50px, null);}
.sc01_line02{@include conSize(100px, null);}

/*** 헤더 시작 ***/
.at-header{@include conSize(100%, null); @include pt_abs(fixed, -100%, null, null, 0, 99); transition:all .3s $easing;
    .header-inner{@include conSize(null, 100px); line-height:100px; @include dis-flex(center, space-between, null, null); position:relative; padding:0 21px;
        .logo{
            a{@include dis-flex(center, null, null, null);
                img{width:auto; height:28px;}
            }
        }
        .menu_ul{line-height:1; @include dis-flex(center, null, null, 53px); @include pt_abs(absolute, null, null, null, 50%, null); transform:translateX(-50%);
            li{
                a{@include font(20px, 400, null, $black);}
            }
        }
        .right_lnb{@include dis-flex(center, null, null, 30px);
            .search_btn{@include conSize(29px, 29px); cursor:pointer;
                span{@include conSize(100%, 100%); @extend .span_comm;
                    &::before, &::after{@extend .virtual;}
                    &::before{@include conSize(20px, 20px); border:3px solid $black; border-radius:50%;}
                    &::after{@include conSize(12px, 3px); right:-2px; bottom:3px; transform:rotate(45deg); background:$black;}
                }
            }
            .allMenu_btn{@include conSize(30px, auto); @include dis-flex(null, null, column, 7px); cursor:pointer;
                span{@include conSize(100%, 3px); @extend .span_comm; background:$black;
                    &:nth-child(2){width:calc(100% - 10px); margin:0 auto; margin-right:0;}
                }
            }
        }
    }
}
/*** 헤더 끝 ***/

/*** 섹션01 시작 ***/
.section01{
    &-inner{
        .top{
            .line_bx{@include conSize(null, 78px); line-height:78px; @include dis-flex(center, space-between, null, null); border-bottom:1px solid $black;
                & > div{@include dis-flex(null, null, null, null);
                    span{@include conSize(null, 15px); @extend .span_comm; background:$black;
                        &:first-child, &:last-child{@extend .sc01_line01;}
                        &:not(.sml){@extend .sc01_line02;}
                    }
                    &:first-child, &:last-child{column-gap:236px;}
                }
            }
            .b_tit{@include dis-flex(center, null, null, null); padding:10px 15px 10px 0;
                .txt{
                    h1{line-height:147px; @include dis-flex(null, null, null, null); @include font(180px, 600, null, $black); text-transform:uppercase; letter-spacing:-2px;
                        span{@extend .span_comm; @include font(null, null, $inter, null);}
                        .margin{margin:20px;}
                    }
                }
                .circle{@include conSize(630px, 270px); background:$black; border-radius:140px;}
            }
        }
    }
}