@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  background: #eee;
  border: 1px solid #000;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.span_comm, .section01-inner .top .b_tit .txt h1 span, .section01-inner .top .line_bx > div span, .at-header .header-inner .right_lnb .allMenu_btn span, .at-header .header-inner .right_lnb .search_btn span {
  display: block;
  position: relative;
}

.virtual, .at-header .header-inner .right_lnb .search_btn span::before, .at-header .header-inner .right_lnb .search_btn span::after {
  content: "";
  position: absolute;
}

.sc01_line01, .section01-inner .top .line_bx > div span:first-child, .section01-inner .top .line_bx > div span:last-child {
  width: 50px;
}

.sc01_line02, .section01-inner .top .line_bx > div span:not(.sml) {
  width: 100px;
}

/*** 헤더 시작 ***/
.at-header {
  width: 100%;
  position: fixed;
  top: -100%;
  left: 0;
  z-index: 99;
  -webkit-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.at-header .header-inner {
  height: 100px;
  line-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding: 0 21px;
}
.at-header .header-inner .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.at-header .header-inner .logo a img {
  width: auto;
  height: 28px;
}
.at-header .header-inner .menu_ul {
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 53px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.at-header .header-inner .menu_ul li a {
  font-size: 20px;
  font-weight: 400;
  color: #000;
}
.at-header .header-inner .right_lnb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.at-header .header-inner .right_lnb .search_btn {
  width: 29px;
  height: 29px;
  cursor: pointer;
}
.at-header .header-inner .right_lnb .search_btn span {
  width: 100%;
  height: 100%;
}
.at-header .header-inner .right_lnb .search_btn span::before {
  width: 20px;
  height: 20px;
  border: 3px solid #000;
  border-radius: 50%;
}
.at-header .header-inner .right_lnb .search_btn span::after {
  width: 12px;
  height: 3px;
  right: -2px;
  bottom: 3px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #000;
}
.at-header .header-inner .right_lnb .allMenu_btn {
  width: 30px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 7px;
  cursor: pointer;
}
.at-header .header-inner .right_lnb .allMenu_btn span {
  width: 100%;
  height: 3px;
  background: #000;
}
.at-header .header-inner .right_lnb .allMenu_btn span:nth-child(2) {
  width: calc(100% - 10px);
  margin: 0 auto;
  margin-right: 0;
}

/*** 헤더 끝 ***/
/*** 섹션01 시작 ***/
.section01-inner .top .line_bx {
  height: 78px;
  line-height: 78px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #000;
}
.section01-inner .top .line_bx > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section01-inner .top .line_bx > div span {
  height: 15px;
  background: #000;
}
.section01-inner .top .line_bx > div:first-child, .section01-inner .top .line_bx > div:last-child {
  -webkit-column-gap: 236px;
     -moz-column-gap: 236px;
          column-gap: 236px;
}
.section01-inner .top .b_tit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px 10px 0;
}
.section01-inner .top .b_tit .txt h1 {
  line-height: 147px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 180px;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
  letter-spacing: -2px;
}
.section01-inner .top .b_tit .txt h1 span {
  font-family: "Inter", sans-serif;
}
.section01-inner .top .b_tit .txt h1 .margin {
  margin: 20px;
}
.section01-inner .top .b_tit .circle {
  width: 630px;
  height: 270px;
  background: #000;
  border-radius: 140px;
}